# Autodetect text files
* text=auto

# ...Unless the name matches the following
# overriding patterns

# Definitively text files 
*.txt text
*.svg text
*.md text
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf

# Ensure those won't be messed up with
*.jpg binary
*.jpeg binary
*.png binary
*.data binary
